@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: host, sans-serif;
  color: white;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.page.slide-left {
  transform: translateX(-100%);
}
.page.slide-right {
  transform: translateX(100%);
}

.scroller-container {
  display: flex;
  flex-direction: column;
}

.scroller {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.scroller-image {
  width: 130px;
  height: 90px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 7px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  flex-shrink: 0;
}

.scroller-image1 {
  width: 110px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 7px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
}

.scroller-image:hover,
.scroller-image1:hover,
.scroller-image.selected {
  border: 2px solid orange;
}

.scroller-image1.selected {
  border: 2px solid orange;
  width: 140px;
  height: 180px;
}

.bottom-div {
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.no-scroll {
  overflow: hidden;
}

.folder {
  animation: folder 0.7s ease-out forwards;
  opacity: 0;
}

.paper1 {
  animation: folder 0.7s ease-out forwards 0.4s;
  opacity: 0;
}

.paper2 {
  animation: folder 0.7s ease-out forwards 0.8s;
  opacity: 0;
}

.paper3 {
  animation: folder 0.7s ease-out forwards 0.12s;
  opacity: 0;
}

@keyframes folder {
  from {
    opacity: 0;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fav-woman {
  animation: woman 0.7s ease-out forwards 0.16s;
  opacity: 0;
}

@keyframes woman {
  from {
    opacity: 0;
    transform: translatex(100vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
